@import "../../node_modules/bootstrap/scss/bootstrap";


:root{
    --city1-color:white;
    --city2-color:white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #E6E6FA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.section {
    width: 50%;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 auto;
}

i {
    margin-right: 5px;
}

#country_info {
    padding: 20px;
}


.badge-blue{
    background-color: var(--bs-primary);
    margin: 2px;
}

a:link {
    text-decoration: none;
}

a:hover{
    color: var(--bs-primary);
    background-color: var(--bs-light);
}

.city1-popup .leaflet-popup-content-wrapper{
    border-left: 5px solid var(--city1-color);
}

.city2-popup .leaflet-popup-content-wrapper{
    border-left: 5px solid var(--city2-color);
}